In [1]:
import pandas as pd

EXPLORACIÓN Y TRANSFORMACIONES DE DIAMONDS_TRAIN

In [2]:
diamonds_train = pd.read_csv("data/diamonds_train.csv")
diamonds_train = diamonds_train.drop(["index_id", "city_id", "city_id.1", "index_id.1", "cut_id", "color_id", "color_id.1", "clarity_id", "cut_id.1", "index_id.2", "clarity_id.1"], axis = 1)

In [3]:
diamonds_train["cut_encoded"] = 0 

for i, r in diamonds_train.iterrows():
    if r["cut"] == "Fair":
        diamonds_train.at[i, "cut_encoded"] = 1
    elif r["cut"] == "Good":
        diamonds_train.at[i, "cut_encoded"] = 2
    elif r["cut"] == "Very Good":
        diamonds_train.at[i, "cut_encoded"] = 3
    elif r["cut"] == "Premium":
        diamonds_train.at[i, "cut_encoded"] = 4
    elif r["cut"] == "Ideal":
        diamonds_train.at[i, "cut_encoded"] = 5
diamonds_train

,price,carat,city,color,cut,depth,table,x,y,z,clarity,cut_encoded
0,4268,1.21,Dubai,J,Premium,62.4,58.0,6.83,6.79,4.25,VS2,4
1,505,0.32,Kimberly,H,Very Good,63.0,57.0,4.35,4.38,2.75,VS2,3
2,2686,0.71,Las Vegas,G,Fair,65.5,55.0,5.62,5.53,3.65,VS1,1
3,738,0.41,Kimberly,D,Good,63.8,56.0,4.68,4.72,3.00,SI1,2
4,4882,1.02,Dubai,G,Ideal,60.5,59.0,6.55,6.51,3.95,SI1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,Antwerp,G,Ideal,62.7,57.0,7.10,7.04,4.43,VS1,5
40451,12615,2.02,Madrid,F,Good,57.1,60.0,8.31,8.25,4.73,SI2,2
40452,5457,1.01,Kimberly,H,Ideal,62.7,56.0,6.37,6.42,4.01,SI1,5
40453,456,0.33,Kimberly,J,Ideal,61.9,54.3,4.45,4.47,2.76,VS1,5
40454,6232,1.24,London,I,Ideal,62.0,58.0,6.83,6.88,4.25,SI1,5

In [4]:
diamonds_train["clarity_encoded"] = 0 

for i, r in diamonds_train.iterrows():
    if r["clarity"] == "I1":
        diamonds_train.at[i, "clarity_encoded"] = 1
    elif r["clarity"] == "SI2":
        diamonds_train.at[i, "clarity_encoded"] = 2
    elif r["clarity"] == "SI1":
        diamonds_train.at[i, "clarity_encoded"] = 3
    elif r["clarity"] == "VS2":
        diamonds_train.at[i, "clarity_encoded"] = 4
    elif r["clarity"] == "VS1":
        diamonds_train.at[i, "clarity_encoded"] = 5
    elif r["clarity"] == "VVS2":
        diamonds_train.at[i, "clarity_encoded"] = 6
    elif r["clarity"] == "VVS1":
        diamonds_train.at[i, "clarity_encoded"] = 7
    elif r["clarity"] == "IF":
        diamonds_train.at[i, "clarity_encoded"] = 8
diamonds_train

,price,carat,city,color,cut,depth,table,x,y,z,clarity,cut_encoded,clarity_encoded
0,4268,1.21,Dubai,J,Premium,62.4,58.0,6.83,6.79,4.25,VS2,4,4
1,505,0.32,Kimberly,H,Very Good,63.0,57.0,4.35,4.38,2.75,VS2,3,4
2,2686,0.71,Las Vegas,G,Fair,65.5,55.0,5.62,5.53,3.65,VS1,1,5
3,738,0.41,Kimberly,D,Good,63.8,56.0,4.68,4.72,3.00,SI1,2,3
4,4882,1.02,Dubai,G,Ideal,60.5,59.0,6.55,6.51,3.95,SI1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,Antwerp,G,Ideal,62.7,57.0,7.10,7.04,4.43,VS1,5,5
40451,12615,2.02,Madrid,F,Good,57.1,60.0,8.31,8.25,4.73,SI2,2,2
40452,5457,1.01,Kimberly,H,Ideal,62.7,56.0,6.37,6.42,4.01,SI1,5,3
40453,456,0.33,Kimberly,J,Ideal,61.9,54.3,4.45,4.47,2.76,VS1,5,5
40454,6232,1.24,London,I,Ideal,62.0,58.0,6.83,6.88,4.25,SI1,5,3

In [5]:
diamonds_train["color_encoded"] = 0 

for i, r in diamonds_train.iterrows():
    if r["color"] == "J":
        diamonds_train.at[i, "color_encoded"] = 1
    elif r["color"] == "I":
        diamonds_train.at[i, "color_encoded"] = 2
    elif r["color"] == "H":
        diamonds_train.at[i, "color_encoded"] = 3
    elif r["color"] == "G":
        diamonds_train.at[i, "color_encoded"] = 4
    elif r["color"] == "F":
        diamonds_train.at[i, "color_encoded"] = 5
    elif r["color"] == "E":
        diamonds_train.at[i, "color_encoded"] = 6
    elif r["color"] == "D":
        diamonds_train.at[i, "color_encoded"] = 7
diamonds_train

,price,carat,city,color,cut,depth,table,x,y,z,clarity,cut_encoded,clarity_encoded,color_encoded
0,4268,1.21,Dubai,J,Premium,62.4,58.0,6.83,6.79,4.25,VS2,4,4,1
1,505,0.32,Kimberly,H,Very Good,63.0,57.0,4.35,4.38,2.75,VS2,3,4,3
2,2686,0.71,Las Vegas,G,Fair,65.5,55.0,5.62,5.53,3.65,VS1,1,5,4
3,738,0.41,Kimberly,D,Good,63.8,56.0,4.68,4.72,3.00,SI1,2,3,7
4,4882,1.02,Dubai,G,Ideal,60.5,59.0,6.55,6.51,3.95,SI1,5,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,Antwerp,G,Ideal,62.7,57.0,7.10,7.04,4.43,VS1,5,5,4
40451,12615,2.02,Madrid,F,Good,57.1,60.0,8.31,8.25,4.73,SI2,2,2,5
40452,5457,1.01,Kimberly,H,Ideal,62.7,56.0,6.37,6.42,4.01,SI1,5,3,3
40453,456,0.33,Kimberly,J,Ideal,61.9,54.3,4.45,4.47,2.76,VS1,5,5,1
40454,6232,1.24,London,I,Ideal,62.0,58.0,6.83,6.88,4.25,SI1,5,3,2

In [6]:
diamonds_train = diamonds_train.drop(["city", "color", "cut","clarity"], axis=1)

In [7]:
diamonds_train

,price,carat,depth,table,x,y,z,cut_encoded,clarity_encoded,color_encoded
0,4268,1.21,62.4,58.0,6.83,6.79,4.25,4,4,1
1,505,0.32,63.0,57.0,4.35,4.38,2.75,3,4,3
2,2686,0.71,65.5,55.0,5.62,5.53,3.65,1,5,4
3,738,0.41,63.8,56.0,4.68,4.72,3.00,2,3,7
4,4882,1.02,60.5,59.0,6.55,6.51,3.95,5,3,4
...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,62.7,57.0,7.10,7.04,4.43,5,5,4
40451,12615,2.02,57.1,60.0,8.31,8.25,4.73,2,2,5
40452,5457,1.01,62.7,56.0,6.37,6.42,4.01,5,3,3
40453,456,0.33,61.9,54.3,4.45,4.47,2.76,5,5,1
40454,6232,1.24,62.0,58.0,6.83,6.88,4.25,5,3,2

EXPLORACIÓN Y TRANSFORMACIONES DE DIAMONDS_TEST

In [8]:
diamonds_test = pd.read_csv("data/diamonds_test.csv")

In [9]:
diamonds_test["cut_encoded"] = 0 

for i, r in diamonds_test.iterrows():
    if r["cut"] == "Fair":
        diamonds_test.at[i, "cut_encoded"] = 1
    elif r["cut"] == "Good":
        diamonds_test.at[i, "cut_encoded"] = 2
    elif r["cut"] == "Very Good":
        diamonds_test.at[i, "cut_encoded"] = 3
    elif r["cut"] == "Premium":
        diamonds_test.at[i, "cut_encoded"] = 4
    elif r["cut"] == "Ideal":
        diamonds_test.at[i, "cut_encoded"] = 5
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city,cut_encoded
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,3
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,5
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,4
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,3
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,3
...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,5
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,5
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,5
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,3
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,5

In [10]:
diamonds_test["clarity_encoded"] = 0 

for i, r in diamonds_test.iterrows():
    if r["clarity"] == "I1":
        diamonds_test.at[i, "clarity_encoded"] = 1
    elif r["clarity"] == "SI2":
        diamonds_test.at[i, "clarity_encoded"] = 2
    elif r["clarity"] == "SI1":
        diamonds_test.at[i, "clarity_encoded"] = 3
    elif r["clarity"] == "VS2":
        diamonds_test.at[i, "clarity_encoded"] = 4
    elif r["clarity"] == "VS1":
        diamonds_test.at[i, "clarity_encoded"] = 5
    elif r["clarity"] == "VVS2":
        diamonds_test.at[i, "clarity_encoded"] = 6
    elif r["clarity"] == "VVS1":
        diamonds_test.at[i, "clarity_encoded"] = 7
    elif r["clarity"] == "IF":
        diamonds_test.at[i, "clarity_encoded"] = 8
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city,cut_encoded,clarity_encoded
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,3,3
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,5,5
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,4,3
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,3,3
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,5,3
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,5,4
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,5,5
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,3,2
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,5,6

In [11]:
diamonds_test["color_encoded"] = 0 

for i, r in diamonds_test.iterrows():
    if r["color"] == "J":
        diamonds_test.at[i, "color_encoded"] = 1
    elif r["color"] == "I":
        diamonds_test.at[i, "color_encoded"] = 2
    elif r["color"] == "H":
        diamonds_test.at[i, "color_encoded"] = 3
    elif r["color"] == "G":
        diamonds_test.at[i, "color_encoded"] = 4
    elif r["color"] == "F":
        diamonds_test.at[i, "color_encoded"] = 5
    elif r["color"] == "E":
        diamonds_test.at[i, "color_encoded"] = 6
    elif r["color"] == "D":
        diamonds_test.at[i, "color_encoded"] = 7
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city,cut_encoded,clarity_encoded,color_encoded
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,3,3,5
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,5,5,1
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,4,3,3
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,3,3,5
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,3,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,5,3,6
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,5,4,2
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,5,5,5
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,3,2,5
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,5,6,2

In [12]:
diamonds_test = diamonds_test.drop(["city", "color", "cut","clarity", "id"], axis=1)

In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import GradientBoostingRegressor
from scipy.stats import uniform, randint

In [55]:
X = diamonds_train.drop(columns=['price'])
y = diamonds_train['price']

scaler = StandardScaler()
scaler.fit(X)

X_standard = scaler.transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_standard, y, test_size=0.2, random_state=42)

regressor = RandomForestRegressor()

param_dist = {'n_estimators': randint(100, 300),  
              'max_depth': [None, 3, 5],  
              'min_samples_split': randint(2, 5), 
              'min_samples_leaf': randint(1, 3), 
              'max_features': ['sqrt']}  

random_search = RandomizedSearchCV(regressor, 
                                   param_distributions=param_dist, 
                                   n_iter=30, 
                                   cv=5, 
                                   verbose=3, 
                                   scoring='neg_root_mean_squared_error', 
                                   random_state=42, 
                                   n_jobs=-1)

random_search.fit(X_train, y_train)

y_pred = random_search.best_estimator_.predict(X_test)

rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

Fitting 5 folds for each of 30 candidates, totalling 150 fits

/Users/SilviaMV/miniconda3/envs/sklearn-env/lib/python3.12/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

556.5516100966895

In [57]:
X_test_standard = scaler.transform(diamonds_test)

y_prediction = random_search.predict(X_test_standard)

In [58]:
solution = []
for i, value in enumerate(y_prediction):
    solution.append((i,value))

In [59]:
submission_file = pd.DataFrame(solution)

In [60]:
submission_file

           0            1
0          0  2924.220000
1          1  5826.446667
2          2  9693.780000
3          3  3988.093333
4          4  1628.873333
...      ...          ...
13480  13480  1785.320000
13481  13481  2509.906667
13482  13482  2974.333333
13483  13483  2254.920000
13484  13484   872.926667

[13485 rows x 2 columns]

In [61]:
submission_file.columns = ["id", "price"]

In [62]:
submission_file.reset_index(drop=True)

          id        price
0          0  2924.220000
1          1  5826.446667
2          2  9693.780000
3          3  3988.093333
4          4  1628.873333
...      ...          ...
13480  13480  1785.320000
13481  13481  2509.906667
13482  13482  2974.333333
13483  13483  2254.920000
13484  13484   872.926667

[13485 rows x 2 columns]

In [63]:
submission_file.to_csv("submission_file5.csv", index = False)

[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=114;, score=-1001.494 total time=   2.5s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=120;, score=-996.096 total time=   2.8s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=174;, score=-1014.077 total time=   3.6s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=199;, score=-1013.301 total time=   4.8s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=199;, score=-982.192 total time=   4.9s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=101;, score=-967.000 total time=   2.5s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=291;, score=-1310.500 total time=   4.4s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=121;, score=-576.635 total time=  10.1s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=148;, score=-589.914 total time=  10.0s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=148;, score=-563.949 total time=  10.4s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=274;, score=-1014.862 total time=   6.3s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=274;, score=-970.872 total time=   6.5s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=150;, score=-579.996 total time=  12.5s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=150;, score=-561.090 total time=  14.3s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=108;, score=-1344.245 total time=   1.7s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=108;, score=-1308.246 total time=   1.6s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=183;, score=-1297.829 total time=   3.0s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=271;, score=-988.395 total time=   6.2s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=134;, score=-587.003 total time=   9.0s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1317.539 total time=   2.9s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1292.261 total time=   3.1s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=153;, score=-1333.933 total time=   2.2s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=153;, score=-1292.139 total time=   2.6s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=290;, score=-1307.276 total time=   4.8s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=289;, score=-1350.972 total time=   4.6s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=299;, score=-1315.136 total time=   4.7s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=299;, score=-1301.029 total time=   4.8s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=289;, score=-1290.590 total time=   5.2s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=181;, score=-595.296 total time=  11.7s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=287;, score=-1006.766 total time=   6.2s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=287;, score=-972.511 total time=   6.0s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=114;, score=-556.771 total time=  10.5s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=170;, score=-586.914 total time=  14.7s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=235;, score=-581.841 total time=  15.8s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=180;, score=-1005.590 total time=   3.6s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=180;, score=-1017.554 total time=   3.7s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=180;, score=-953.983 total time=   4.5s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=114;, score=-983.199 total time=   2.4s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=114;, score=-967.667 total time=   2.7s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=120;, score=-955.946 total time=   2.5s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=174;, score=-995.293 total time=   3.9s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=199;, score=-1015.989 total time=   4.9s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=101;, score=-1005.460 total time=   2.5s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=101;, score=-959.824 total time=   2.5s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=291;, score=-1286.658 total time=   4.4s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=121;, score=-584.612 total time=   9.9s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=148;, score=-584.297 total time=  10.2s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=269;, score=-1004.321 total time=   6.0s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=269;, score=-974.969 total time=   5.4s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=274;, score=-1022.401 total time=   6.4s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=163;, score=-1324.037 total time=   2.5s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=163;, score=-1299.385 total time=   2.8s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=150;, score=-581.296 total time=  12.5s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=266;, score=-1008.169 total time=   5.2s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=266;, score=-966.409 total time=   6.4s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=159;, score=-1297.921 total time=   2.6s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=108;, score=-1313.334 total time=   1.7s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=108;, score=-1296.769 total time=   1.6s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=183;, score=-1290.367 total time=   3.0s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=271;, score=-1015.487 total time=   6.3s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=134;, score=-582.343 total time=   9.0s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=134;, score=-564.996 total time=   9.5s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=153;, score=-1305.344 total time=   2.8s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=290;, score=-1286.377 total time=   4.8s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=289;, score=-1293.287 total time=   4.5s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=299;, score=-1349.679 total time=   4.7s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=289;, score=-1323.576 total time=   4.8s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=289;, score=-1304.170 total time=   4.7s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=181;, score=-563.662 total time=  11.9s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=287;, score=-993.117 total time=   6.2s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=114;, score=-585.295 total time=  11.2s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=114;, score=-563.253 total time=   9.4s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=170;, score=-561.577 total time=  14.6s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=235;, score=-589.935 total time=  15.8s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=180;, score=-982.762 total time=   3.9s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=180;, score=-977.197 total time=   4.1s

[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=114;, score=-965.331 total time=   2.5s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=120;, score=-1017.987 total time=   2.8s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=174;, score=-1008.238 total time=   3.6s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=174;, score=-963.234 total time=   4.2s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=199;, score=-962.819 total time=   4.9s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=101;, score=-1006.761 total time=   2.6s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=291;, score=-1342.279 total time=   4.5s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=121;, score=-584.238 total time=  10.1s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=121;, score=-561.248 total time=   9.8s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=148;, score=-565.148 total time=  10.3s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=269;, score=-970.393 total time=   6.4s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=274;, score=-971.130 total time=   6.3s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=163;, score=-1313.280 total time=   2.4s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=150;, score=-581.339 total time=  12.4s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=266;, score=-1016.695 total time=   5.9s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=266;, score=-975.540 total time=   6.2s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=159;, score=-1322.132 total time=   2.5s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=183;, score=-1334.498 total time=   2.9s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=183;, score=-1298.812 total time=   2.9s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=271;, score=-963.117 total time=   6.0s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=134;, score=-584.684 total time=   9.1s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1341.819 total time=   3.0s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1284.373 total time=   3.1s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=153;, score=-1342.319 total time=   2.4s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=290;, score=-1326.941 total time=   5.0s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=290;, score=-1308.681 total time=   4.5s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=289;, score=-1298.061 total time=   4.5s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=299;, score=-1305.933 total time=   4.7s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=289;, score=-1346.618 total time=   5.0s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=181;, score=-587.888 total time=  12.0s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=181;, score=-564.088 total time=  12.5s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=114;, score=-583.849 total time=  10.6s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=170;, score=-585.330 total time=  14.6s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=170;, score=-560.101 total time=  15.2s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=235;, score=-567.679 total time=  15.9s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=114;, score=-1006.322 total time=   2.4s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=120;, score=-1021.370 total time=   2.8s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=120;, score=-985.225 total time=   2.5s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=174;, score=-960.286 total time=   4.1s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=199;, score=-983.013 total time=   4.8s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=101;, score=-1006.313 total time=   2.5s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=291;, score=-1324.327 total time=   4.8s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=291;, score=-1306.439 total time=   3.9s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=121;, score=-563.385 total time=  10.0s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=148;, score=-595.713 total time=  10.0s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=269;, score=-1011.282 total time=   5.7s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=269;, score=-956.500 total time=   5.8s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=274;, score=-986.929 total time=   6.1s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=163;, score=-1344.651 total time=   2.8s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=163;, score=-1304.650 total time=   2.3s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=150;, score=-559.291 total time=  12.5s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=266;, score=-985.244 total time=   5.8s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=159;, score=-1310.227 total time=   2.7s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=159;, score=-1360.407 total time=   2.6s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=159;, score=-1314.327 total time=   2.5s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=108;, score=-1290.558 total time=   1.7s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=183;, score=-1332.736 total time=   2.9s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=271;, score=-1008.181 total time=   6.2s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=271;, score=-966.889 total time=   5.6s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=134;, score=-566.477 total time=   9.1s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1314.705 total time=   3.0s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=153;, score=-1297.093 total time=   2.5s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=290;, score=-1337.012 total time=   5.0s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=289;, score=-1321.001 total time=   4.6s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=289;, score=-1297.518 total time=   4.5s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=299;, score=-1295.102 total time=   4.7s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=289;, score=-1302.057 total time=   5.0s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=181;, score=-584.279 total time=  11.8s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=287;, score=-1003.329 total time=   6.1s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=287;, score=-959.676 total time=   6.0s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=114;, score=-589.109 total time=  10.5s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=170;, score=-581.112 total time=  14.7s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=235;, score=-590.618 total time=  15.6s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=235;, score=-564.612 total time=  15.5s