In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import GradientBoostingRegressor
from scipy.stats import uniform, randint

EXPLORACIÓN Y TRANSFORMACIONES DE DIAMONDS_TRAIN

In [15]:
diamonds_train = pd.read_csv("data/diamonds_train.csv")
diamonds_train = diamonds_train.drop(["index_id", "city_id", "city_id.1", "index_id.1", "cut_id", "color_id", "color_id.1", "clarity_id", "cut_id.1", "index_id.2", "clarity_id.1"], axis = 1)

In [16]:
diamonds_train["cut_encoded"] = 0 

for i, r in diamonds_train.iterrows():
    if r["cut"] == "Fair":
        diamonds_train.at[i, "cut_encoded"] = 1
    elif r["cut"] == "Good":
        diamonds_train.at[i, "cut_encoded"] = 2
    elif r["cut"] == "Very Good":
        diamonds_train.at[i, "cut_encoded"] = 3
    elif r["cut"] == "Premium":
        diamonds_train.at[i, "cut_encoded"] = 4
    elif r["cut"] == "Ideal":
        diamonds_train.at[i, "cut_encoded"] = 5
diamonds_train

,price,carat,city,color,cut,depth,table,x,y,z,clarity,cut_encoded
0,4268,1.21,Dubai,J,Premium,62.4,58.0,6.83,6.79,4.25,VS2,4
1,505,0.32,Kimberly,H,Very Good,63.0,57.0,4.35,4.38,2.75,VS2,3
2,2686,0.71,Las Vegas,G,Fair,65.5,55.0,5.62,5.53,3.65,VS1,1
3,738,0.41,Kimberly,D,Good,63.8,56.0,4.68,4.72,3.00,SI1,2
4,4882,1.02,Dubai,G,Ideal,60.5,59.0,6.55,6.51,3.95,SI1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,Antwerp,G,Ideal,62.7,57.0,7.10,7.04,4.43,VS1,5
40451,12615,2.02,Madrid,F,Good,57.1,60.0,8.31,8.25,4.73,SI2,2
40452,5457,1.01,Kimberly,H,Ideal,62.7,56.0,6.37,6.42,4.01,SI1,5
40453,456,0.33,Kimberly,J,Ideal,61.9,54.3,4.45,4.47,2.76,VS1,5
40454,6232,1.24,London,I,Ideal,62.0,58.0,6.83,6.88,4.25,SI1,5

In [17]:
diamonds_train["clarity_encoded"] = 0 

for i, r in diamonds_train.iterrows():
    if r["clarity"] == "I1":
        diamonds_train.at[i, "clarity_encoded"] = 1
    elif r["clarity"] == "SI2":
        diamonds_train.at[i, "clarity_encoded"] = 2
    elif r["clarity"] == "SI1":
        diamonds_train.at[i, "clarity_encoded"] = 3
    elif r["clarity"] == "VS2":
        diamonds_train.at[i, "clarity_encoded"] = 4
    elif r["clarity"] == "VS1":
        diamonds_train.at[i, "clarity_encoded"] = 5
    elif r["clarity"] == "VVS2":
        diamonds_train.at[i, "clarity_encoded"] = 6
    elif r["clarity"] == "VVS1":
        diamonds_train.at[i, "clarity_encoded"] = 7
    elif r["clarity"] == "IF":
        diamonds_train.at[i, "clarity_encoded"] = 8
diamonds_train

,price,carat,city,color,cut,depth,table,x,y,z,clarity,cut_encoded,clarity_encoded
0,4268,1.21,Dubai,J,Premium,62.4,58.0,6.83,6.79,4.25,VS2,4,4
1,505,0.32,Kimberly,H,Very Good,63.0,57.0,4.35,4.38,2.75,VS2,3,4
2,2686,0.71,Las Vegas,G,Fair,65.5,55.0,5.62,5.53,3.65,VS1,1,5
3,738,0.41,Kimberly,D,Good,63.8,56.0,4.68,4.72,3.00,SI1,2,3
4,4882,1.02,Dubai,G,Ideal,60.5,59.0,6.55,6.51,3.95,SI1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,Antwerp,G,Ideal,62.7,57.0,7.10,7.04,4.43,VS1,5,5
40451,12615,2.02,Madrid,F,Good,57.1,60.0,8.31,8.25,4.73,SI2,2,2
40452,5457,1.01,Kimberly,H,Ideal,62.7,56.0,6.37,6.42,4.01,SI1,5,3
40453,456,0.33,Kimberly,J,Ideal,61.9,54.3,4.45,4.47,2.76,VS1,5,5
40454,6232,1.24,London,I,Ideal,62.0,58.0,6.83,6.88,4.25,SI1,5,3

In [18]:
diamonds_train["color_encoded"] = 0 

for i, r in diamonds_train.iterrows():
    if r["color"] == "J":
        diamonds_train.at[i, "color_encoded"] = 1
    elif r["color"] == "I":
        diamonds_train.at[i, "color_encoded"] = 2
    elif r["color"] == "H":
        diamonds_train.at[i, "color_encoded"] = 3
    elif r["color"] == "G":
        diamonds_train.at[i, "color_encoded"] = 4
    elif r["color"] == "F":
        diamonds_train.at[i, "color_encoded"] = 5
    elif r["color"] == "E":
        diamonds_train.at[i, "color_encoded"] = 6
    elif r["color"] == "D":
        diamonds_train.at[i, "color_encoded"] = 7
diamonds_train

,price,carat,city,color,cut,depth,table,x,y,z,clarity,cut_encoded,clarity_encoded,color_encoded
0,4268,1.21,Dubai,J,Premium,62.4,58.0,6.83,6.79,4.25,VS2,4,4,1
1,505,0.32,Kimberly,H,Very Good,63.0,57.0,4.35,4.38,2.75,VS2,3,4,3
2,2686,0.71,Las Vegas,G,Fair,65.5,55.0,5.62,5.53,3.65,VS1,1,5,4
3,738,0.41,Kimberly,D,Good,63.8,56.0,4.68,4.72,3.00,SI1,2,3,7
4,4882,1.02,Dubai,G,Ideal,60.5,59.0,6.55,6.51,3.95,SI1,5,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,Antwerp,G,Ideal,62.7,57.0,7.10,7.04,4.43,VS1,5,5,4
40451,12615,2.02,Madrid,F,Good,57.1,60.0,8.31,8.25,4.73,SI2,2,2,5
40452,5457,1.01,Kimberly,H,Ideal,62.7,56.0,6.37,6.42,4.01,SI1,5,3,3
40453,456,0.33,Kimberly,J,Ideal,61.9,54.3,4.45,4.47,2.76,VS1,5,5,1
40454,6232,1.24,London,I,Ideal,62.0,58.0,6.83,6.88,4.25,SI1,5,3,2

In [19]:
diamonds_train = diamonds_train.drop(["city", "color", "cut","clarity"], axis=1)

In [20]:
diamonds_train

,price,carat,depth,table,x,y,z,cut_encoded,clarity_encoded,color_encoded
0,4268,1.21,62.4,58.0,6.83,6.79,4.25,4,4,1
1,505,0.32,63.0,57.0,4.35,4.38,2.75,3,4,3
2,2686,0.71,65.5,55.0,5.62,5.53,3.65,1,5,4
3,738,0.41,63.8,56.0,4.68,4.72,3.00,2,3,7
4,4882,1.02,60.5,59.0,6.55,6.51,3.95,5,3,4
...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,62.7,57.0,7.10,7.04,4.43,5,5,4
40451,12615,2.02,57.1,60.0,8.31,8.25,4.73,2,2,5
40452,5457,1.01,62.7,56.0,6.37,6.42,4.01,5,3,3
40453,456,0.33,61.9,54.3,4.45,4.47,2.76,5,5,1
40454,6232,1.24,62.0,58.0,6.83,6.88,4.25,5,3,2

EXPLORACIÓN Y TRANSFORMACIONES DE DIAMONDS_TEST

In [21]:
diamonds_test = pd.read_csv("data/diamonds_test.csv")

In [22]:
diamonds_test["cut_encoded"] = 0 

for i, r in diamonds_test.iterrows():
    if r["cut"] == "Fair":
        diamonds_test.at[i, "cut_encoded"] = 1
    elif r["cut"] == "Good":
        diamonds_test.at[i, "cut_encoded"] = 2
    elif r["cut"] == "Very Good":
        diamonds_test.at[i, "cut_encoded"] = 3
    elif r["cut"] == "Premium":
        diamonds_test.at[i, "cut_encoded"] = 4
    elif r["cut"] == "Ideal":
        diamonds_test.at[i, "cut_encoded"] = 5
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city,cut_encoded
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,3
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,5
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,4
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,3
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,3
...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,5
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,5
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,5
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,3
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,5

In [23]:
diamonds_test["clarity_encoded"] = 0 

for i, r in diamonds_test.iterrows():
    if r["clarity"] == "I1":
        diamonds_test.at[i, "clarity_encoded"] = 1
    elif r["clarity"] == "SI2":
        diamonds_test.at[i, "clarity_encoded"] = 2
    elif r["clarity"] == "SI1":
        diamonds_test.at[i, "clarity_encoded"] = 3
    elif r["clarity"] == "VS2":
        diamonds_test.at[i, "clarity_encoded"] = 4
    elif r["clarity"] == "VS1":
        diamonds_test.at[i, "clarity_encoded"] = 5
    elif r["clarity"] == "VVS2":
        diamonds_test.at[i, "clarity_encoded"] = 6
    elif r["clarity"] == "VVS1":
        diamonds_test.at[i, "clarity_encoded"] = 7
    elif r["clarity"] == "IF":
        diamonds_test.at[i, "clarity_encoded"] = 8
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city,cut_encoded,clarity_encoded
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,3,3
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,5,5
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,4,3
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,3,3
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,5,3
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,5,4
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,5,5
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,3,2
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,5,6

In [24]:
diamonds_test["color_encoded"] = 0 

for i, r in diamonds_test.iterrows():
    if r["color"] == "J":
        diamonds_test.at[i, "color_encoded"] = 1
    elif r["color"] == "I":
        diamonds_test.at[i, "color_encoded"] = 2
    elif r["color"] == "H":
        diamonds_test.at[i, "color_encoded"] = 3
    elif r["color"] == "G":
        diamonds_test.at[i, "color_encoded"] = 4
    elif r["color"] == "F":
        diamonds_test.at[i, "color_encoded"] = 5
    elif r["color"] == "E":
        diamonds_test.at[i, "color_encoded"] = 6
    elif r["color"] == "D":
        diamonds_test.at[i, "color_encoded"] = 7
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city,cut_encoded,clarity_encoded,color_encoded
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,3,3,5
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,5,5,1
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,4,3,3
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,3,3,5
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,3,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,5,3,6
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,5,4,2
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,5,5,5
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,3,2,5
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,5,6,2

In [25]:
diamonds_test = diamonds_test.drop(["city", "color", "cut","clarity", "id"], axis=1)

In [26]:
diamonds_train["volume"] = diamonds_train["x"] * diamonds_train["y"] * diamonds_train["z"] * (4/3) * np.pi
diamonds_test["volume"] = diamonds_test["x"] * diamonds_test["y"] * diamonds_test["z"] * (4/3) * np.pi

In [27]:
diamonds_train["depth_normal"] = 0
for i, r in diamonds_train.iterrows():
    if 55 < r["depth"] < 68:
        diamonds_train.at[i, "depth_normal"] = 1
    else:
        diamonds_train.at[i, "depth_normal"] = 0
diamonds_train

,price,carat,depth,table,x,y,z,cut_encoded,clarity_encoded,color_encoded,volume,depth_normal
0,4268,1.21,62.4,58.0,6.83,6.79,4.25,4,4,1,825.596831,1
1,505,0.32,63.0,57.0,4.35,4.38,2.75,3,4,3,219.474804,1
2,2686,0.71,65.5,55.0,5.62,5.53,3.65,1,5,4,475.163334,1
3,738,0.41,63.8,56.0,4.68,4.72,3.00,2,3,7,277.586100,1
4,4882,1.02,60.5,59.0,6.55,6.51,3.95,5,3,4,705.517829,1
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,62.7,57.0,7.10,7.04,4.43,5,5,4,927.520129,1
40451,12615,2.02,57.1,60.0,8.31,8.25,4.73,2,2,5,1358.328217,1
40452,5457,1.01,62.7,56.0,6.37,6.42,4.01,5,3,3,686.922026,1
40453,456,0.33,61.9,54.3,4.45,4.47,2.76,5,5,1,229.966844,1
40454,6232,1.24,62.0,58.0,6.83,6.88,4.25,5,3,2,836.539941,1

In [28]:
diamonds_test["depth_normal"] = 0
for i, r in diamonds_test.iterrows():
    if 55 < r["depth"] < 68:
        diamonds_test.at[i, "depth_normal"] = 1
    else:
        diamonds_test.at[i, "depth_normal"] = 0
diamonds_test

,carat,depth,table,x,y,z,cut_encoded,clarity_encoded,color_encoded,volume,depth_normal
0,0.79,62.7,60.0,5.82,5.89,3.67,3,3,5,526.978568,1
1,1.20,61.0,57.0,6.81,6.89,4.18,5,5,1,821.544750,1
2,1.57,62.2,61.0,7.38,7.32,4.57,4,3,3,1034.123131,1
3,0.90,63.8,54.0,6.09,6.13,3.90,3,3,5,609.861171,1
4,0.50,62.9,58.0,5.05,5.09,3.19,3,5,5,343.469717,1
...,...,...,...,...,...,...,...,...,...,...,...
13480,0.57,61.9,56.0,5.35,5.32,3.30,5,3,6,393.430444,1
13481,0.71,62.2,55.0,5.71,5.73,3.56,5,4,2,487.898337,1
13482,0.70,61.6,55.0,5.75,5.71,3.53,5,5,5,485.475444,1
13483,0.70,58.8,57.0,5.85,5.89,3.45,3,2,5,497.942121,1
13484,0.40,62.4,55.0,4.70,4.73,2.94,5,6,2,273.775725,1

In [29]:
diamonds_train = diamonds_train.drop(["y", "z", "x"], axis=1)
diamonds_test = diamonds_test.drop(["y", "z", "x"], axis=1)

In [30]:
diamonds_train = diamonds_train.drop(["depth"], axis=1)
diamonds_test = diamonds_test.drop(["depth"], axis=1)

In [32]:
diamonds_train["table_normal"] = 0
for i, r in diamonds_train.iterrows():
    if 52 < r["table"] < 66:
        diamonds_train.at[i, "table_normal"] = 1
    else:
        diamonds_train.at[i, "table_normal"] = 0
diamonds_train

,price,carat,table,cut_encoded,clarity_encoded,color_encoded,volume,depth_normal,table_normal
0,4268,1.21,58.0,4,4,1,825.596831,1,1
1,505,0.32,57.0,3,4,3,219.474804,1,1
2,2686,0.71,55.0,1,5,4,475.163334,1,1
3,738,0.41,56.0,2,3,7,277.586100,1,1
4,4882,1.02,59.0,5,3,4,705.517829,1,1
...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,57.0,5,5,4,927.520129,1,1
40451,12615,2.02,60.0,2,2,5,1358.328217,1,1
40452,5457,1.01,56.0,5,3,3,686.922026,1,1
40453,456,0.33,54.3,5,5,1,229.966844,1,1
40454,6232,1.24,58.0,5,3,2,836.539941,1,1

In [33]:
diamonds_test["table_normal"] = 0
for i, r in diamonds_test.iterrows():
    if 55 < r["table"] < 68:
        diamonds_test.at[i, "table_normal"] = 1
    else:
        diamonds_test.at[i, "table_normal"] = 0
diamonds_test

,carat,table,cut_encoded,clarity_encoded,color_encoded,volume,depth_normal,table_normal
0,0.79,60.0,3,3,5,526.978568,1,1
1,1.20,57.0,5,5,1,821.544750,1,1
2,1.57,61.0,4,3,3,1034.123131,1,1
3,0.90,54.0,3,3,5,609.861171,1,0
4,0.50,58.0,3,5,5,343.469717,1,1
...,...,...,...,...,...,...,...,...
13480,0.57,56.0,5,3,6,393.430444,1,1
13481,0.71,55.0,5,4,2,487.898337,1,0
13482,0.70,55.0,5,5,5,485.475444,1,0
13483,0.70,57.0,3,2,5,497.942121,1,1
13484,0.40,55.0,5,6,2,273.775725,1,0

In [34]:
diamonds_train

,price,carat,table,cut_encoded,clarity_encoded,color_encoded,volume,depth_normal,table_normal
0,4268,1.21,58.0,4,4,1,825.596831,1,1
1,505,0.32,57.0,3,4,3,219.474804,1,1
2,2686,0.71,55.0,1,5,4,475.163334,1,1
3,738,0.41,56.0,2,3,7,277.586100,1,1
4,4882,1.02,59.0,5,3,4,705.517829,1,1
...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,57.0,5,5,4,927.520129,1,1
40451,12615,2.02,60.0,2,2,5,1358.328217,1,1
40452,5457,1.01,56.0,5,3,3,686.922026,1,1
40453,456,0.33,54.3,5,5,1,229.966844,1,1
40454,6232,1.24,58.0,5,3,2,836.539941,1,1

In [35]:
diamonds_train = diamonds_train.drop(["table"], axis=1)
diamonds_test = diamonds_test.drop(["table"], axis=1)

In [45]:
X = diamonds_train.drop(columns=['price'])
y = diamonds_train["price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
regressor = RandomForestRegressor()

param_dist = {'n_estimators': randint(300, 400),  
              'max_depth': [None, 3, 5],  
              'min_samples_split': randint(2, 5), 
              'min_samples_leaf': randint(1, 3), 
              'max_features': ['sqrt']}  

random_search = RandomizedSearchCV(regressor, 
                                   param_distributions=param_dist, 
                                   n_iter=50, 
                                   cv=5, 
                                   verbose=3, 
                                   scoring='neg_root_mean_squared_error', 
                                   random_state=42, 
                                   n_jobs=-1)

random_search.fit(X_train, y_train)

y_pred = random_search.best_estimator_.predict(X_test)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

In [47]:
rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

/Users/SilviaMV/miniconda3/envs/sklearn-env/lib/python3.12/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

550.8973443233375

[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=314;, score=-1103.283 total time=   5.4s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=320;, score=-1097.421 total time=   4.8s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=386;, score=-1135.827 total time=   5.4s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=399;, score=-1094.857 total time=   5.6s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=399;, score=-1075.813 total time=   5.8s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=301;, score=-1105.151 total time=   4.2s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=363;, score=-1600.584 total time=   3.7s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=321;, score=-585.762 total time=  21.6s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=348;, score=-609.442 total time=  15.1s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=348;, score=-592.675 total time=  14.5s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=346;, score=-1140.173 total time=   5.2s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=363;, score=-1580.395 total time=   3.6s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=363;, score=-1631.759 total time=   3.6s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=350;, score=-585.482 total time=  23.8s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=338;, score=-1049.752 total time=   4.8s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=359;, score=-1584.236 total time=   3.5s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=359;, score=-1632.236 total time=   3.5s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=308;, score=-1545.908 total time=   3.2s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=308;, score=-1652.829 total time=   3.4s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=383;, score=-1662.236 total time=   4.2s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=343;, score=-1085.080 total time=   4.9s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=334;, score=-605.407 total time=  13.2s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=334;, score=-569.500 total time=  13.9s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=392;, score=-1584.009 total time=   4.0s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=343;, score=-1146.425 total time=   4.8s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=399;, score=-1569.362 total time=   4.0s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=399;, score=-1657.414 total time=   3.9s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=371;, score=-1555.687 total time=   3.6s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=361;, score=-1705.959 total time=   3.6s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=381;, score=-605.491 total time=  15.0s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=381;, score=-565.348 total time=  15.4s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=314;, score=-586.766 total time=  18.0s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=370;, score=-574.457 total time=  21.4s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=307;, score=-602.125 total time=  12.2s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=307;, score=-560.998 total time=  12.3s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=380;, score=-1090.850 total time=   5.4s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=304;, score=-1093.035 total time=   4.4s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=340;, score=-1622.991 total time=   3.3s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=332;, score=-1134.437 total time=   4.6s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=387;, score=-1073.914 total time=   5.7s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=387;, score=-1075.974 total time=   5.3s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=390;, score=-582.845 total time=  20.8s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=346;, score=-1051.639 total time=   4.8s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=304;, score=-1597.144 total time=   2.8s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=304;, score=-1599.871 total time=   2.9s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=313;, score=-1576.103 total time=   3.1s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=313;, score=-1633.629 total time=   3.2s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=378;, score=-1059.407 total time=   5.4s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=376;, score=-1131.577 total time=   5.4s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=351;, score=-1079.101 total time=   5.0s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=351;, score=-1056.679 total time=   4.9s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=322;, score=-593.760 total time=  13.1s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=342;, score=-1073.683 total time=   5.0s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=331;, score=-603.797 total time=  13.5s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=331;, score=-565.519 total time=  13.6s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=361;, score=-1622.476 total time=   3.6s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=327;, score=-585.884 total time=  17.1s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=391;, score=-1567.138 total time=   3.9s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=391;, score=-1623.614 total time=   3.8s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=396;, score=-585.387 total time=  20.4s

[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=314;, score=-1081.500 total time=   5.5s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=320;, score=-1076.415 total time=   4.5s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=386;, score=-1088.035 total time=   5.3s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=386;, score=-1075.325 total time=   5.6s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=399;, score=-1074.586 total time=   5.7s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=301;, score=-1074.567 total time=   4.2s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=363;, score=-1654.918 total time=   3.7s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=321;, score=-593.313 total time=  21.6s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=321;, score=-552.657 total time=  17.9s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=341;, score=-1084.794 total time=   4.7s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=341;, score=-1077.965 total time=   4.8s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=341;, score=-1078.798 total time=   5.1s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=346;, score=-1096.270 total time=   4.9s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=363;, score=-1613.964 total time=   3.7s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=350;, score=-587.897 total time=  23.6s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=338;, score=-1082.008 total time=   4.7s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=338;, score=-1071.713 total time=   4.7s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=359;, score=-1715.746 total time=   3.5s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=359;, score=-1638.738 total time=   3.7s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=308;, score=-1629.060 total time=   3.6s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=383;, score=-1579.003 total time=   4.0s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=343;, score=-1112.822 total time=   4.7s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=343;, score=-1073.879 total time=   4.6s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=334;, score=-588.685 total time=  13.3s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=303;, score=-1590.135 total time=   3.1s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=353;, score=-1707.835 total time=   3.4s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=353;, score=-1630.080 total time=   3.5s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=392;, score=-1596.810 total time=   4.0s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=343;, score=-1088.825 total time=   4.7s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=399;, score=-1671.847 total time=   3.9s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=399;, score=-1605.425 total time=   4.0s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=371;, score=-1594.932 total time=   3.7s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=361;, score=-1631.702 total time=   3.6s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=381;, score=-593.331 total time=  15.1s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=388;, score=-1121.016 total time=   5.4s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=388;, score=-1074.263 total time=   5.3s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=314;, score=-573.342 total time=  17.8s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=370;, score=-589.217 total time=  21.5s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=307;, score=-608.312 total time=  12.1s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=307;, score=-597.133 total time=  12.3s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=380;, score=-1142.532 total time=   5.2s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=304;, score=-1091.368 total time=   4.3s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=304;, score=-1084.812 total time=   4.4s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=340;, score=-1600.337 total time=   3.4s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=332;, score=-1075.410 total time=   4.5s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=387;, score=-1119.933 total time=   5.5s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=390;, score=-597.533 total time=  21.0s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=390;, score=-551.583 total time=  20.6s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=378;, score=-1139.174 total time=   5.2s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=376;, score=-1077.454 total time=   5.3s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=376;, score=-1068.770 total time=   5.4s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=351;, score=-1086.946 total time=   5.0s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=322;, score=-602.890 total time=  13.0s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=342;, score=-1124.141 total time=   4.8s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=342;, score=-1073.687 total time=   4.7s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=331;, score=-594.129 total time=  13.3s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=385;, score=-1092.864 total time=   5.4s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=385;, score=-1089.097 total time=   5.5s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=361;, score=-1671.529 total time=   3.5s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=327;, score=-569.986 total time=  17.2s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=391;, score=-1697.756 total time=   3.8s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=391;, score=-1599.128 total time=   3.7s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=396;, score=-569.481 total time=  20.3s

[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=314;, score=-1094.006 total time=   5.4s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=314;, score=-1074.040 total time=   4.5s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=320;, score=-1106.291 total time=   4.3s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=386;, score=-1110.962 total time=   5.4s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=399;, score=-1123.148 total time=   5.8s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=301;, score=-1079.308 total time=   4.2s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=301;, score=-1061.715 total time=   4.2s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=363;, score=-1642.588 total time=   3.6s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=321;, score=-582.275 total time=  21.7s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=348;, score=-592.414 total time=  15.1s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=341;, score=-1141.144 total time=   4.8s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=341;, score=-1093.668 total time=   4.7s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=346;, score=-1071.123 total time=   5.3s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=346;, score=-1066.478 total time=   4.9s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=363;, score=-1663.311 total time=   3.7s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=350;, score=-573.947 total time=  23.6s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=338;, score=-1123.181 total time=   4.7s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=338;, score=-1058.475 total time=   4.7s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=359;, score=-1586.773 total time=   3.6s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=308;, score=-1686.310 total time=   3.1s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=308;, score=-1574.521 total time=   3.4s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=383;, score=-1596.227 total time=   4.1s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=383;, score=-1597.246 total time=   3.8s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=343;, score=-1079.155 total time=   4.6s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=334;, score=-593.160 total time=  13.2s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=303;, score=-1680.849 total time=   3.0s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=303;, score=-1621.392 total time=   3.0s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=353;, score=-1636.389 total time=   3.5s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=392;, score=-1566.493 total time=   3.9s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=392;, score=-1666.685 total time=   4.0s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=343;, score=-1085.996 total time=   4.9s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=399;, score=-1568.360 total time=   4.0s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=371;, score=-1642.203 total time=   3.8s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=361;, score=-1587.770 total time=   3.5s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=361;, score=-1587.352 total time=   3.5s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=381;, score=-590.839 total time=  15.1s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=388;, score=-1071.232 total time=   5.2s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=314;, score=-602.114 total time=  18.2s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=314;, score=-556.367 total time=  18.3s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=370;, score=-586.602 total time=  21.6s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=307;, score=-593.319 total time=  12.1s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=380;, score=-1097.614 total time=   5.6s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=304;, score=-1074.771 total time=   4.4s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=340;, score=-1693.389 total time=   3.3s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=332;, score=-1079.108 total time=   4.6s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=332;, score=-1073.207 total time=   4.8s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=387;, score=-1084.952 total time=   5.6s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=390;, score=-571.217 total time=  20.7s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=346;, score=-1118.495 total time=   4.7s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=346;, score=-1083.244 total time=   4.7s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=304;, score=-1628.192 total time=   3.0s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=313;, score=-1672.941 total time=   3.1s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=313;, score=-1635.072 total time=   3.0s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=378;, score=-1092.854 total time=   5.3s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=376;, score=-1083.008 total time=   5.5s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=351;, score=-1138.917 total time=   4.9s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=322;, score=-606.923 total time=  13.3s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=322;, score=-562.547 total time=  13.4s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=331;, score=-590.072 total time=  13.4s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=385;, score=-1085.843 total time=   5.5s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=361;, score=-1571.568 total time=   3.6s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=361;, score=-1673.033 total time=   3.7s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=327;, score=-596.722 total time=  17.3s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=327;, score=-554.681 total time=  16.9s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=396;, score=-580.003 total time=  17.2s

In [39]:
y_prediction = random_search.predict(diamonds_test)

In [40]:
solution = []
for i, value in enumerate(y_prediction):
    solution.append((i,value))

In [41]:
submission_file = pd.DataFrame(solution)

In [42]:
submission_file

           0            1
0          0  2968.924747
1          1  5548.304654
2          2  9617.534163
3          3  3792.833657
4          4  1662.082956
...      ...          ...
13480  13480  1729.648739
13481  13481  2423.015589
13482  13482  2952.975210
13483  13483  2140.195378
13484  13484  1082.792178

[13485 rows x 2 columns]

In [43]:
submission_file.columns = ["id", "price"]

In [44]:
submission_file.reset_index(drop=True)

          id        price
0          0  2968.924747
1          1  5548.304654
2          2  9617.534163
3          3  3792.833657
4          4  1662.082956
...      ...          ...
13480  13480  1729.648739
13481  13481  2423.015589
13482  13482  2952.975210
13483  13483  2140.195378
13484  13484  1082.792178

[13485 rows x 2 columns]

[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=214;, score=-1085.747 total time=   3.9s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=220;, score=-1123.018 total time=   3.7s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=286;, score=-1106.168 total time=   6.0s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=286;, score=-1082.208 total time=   4.1s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=299;, score=-1100.486 total time=   4.7s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=201;, score=-1067.796 total time=   3.8s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=263;, score=-1689.994 total time=   3.0s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=221;, score=-597.958 total time=  13.7s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=221;, score=-555.235 total time=  11.9s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=241;, score=-1086.011 total time=   3.3s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=241;, score=-1086.831 total time=   3.7s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=241;, score=-1080.135 total time=   3.3s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=246;, score=-1072.372 total time=   3.4s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=263;, score=-1678.954 total time=   2.6s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=250;, score=-602.992 total time=  16.0s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=250;, score=-556.287 total time=  15.3s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=283;, score=-1636.205 total time=   3.1s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=243;, score=-1077.600 total time=   3.9s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=234;, score=-602.264 total time=   9.6s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1576.690 total time=   2.0s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1585.646 total time=   2.0s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=253;, score=-1621.708 total time=   2.4s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=253;, score=-1672.492 total time=   2.4s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=292;, score=-1579.705 total time=   2.8s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=243;, score=-1107.245 total time=   3.3s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=243;, score=-1071.948 total time=   3.4s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=299;, score=-1608.766 total time=   3.0s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=271;, score=-1608.249 total time=   2.8s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=261;, score=-1569.831 total time=   3.2s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=281;, score=-597.253 total time=  13.2s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=288;, score=-1076.703 total time=   4.3s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=288;, score=-1082.835 total time=   4.5s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=214;, score=-589.386 total time=  17.5s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=270;, score=-602.435 total time=  20.6s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=270;, score=-556.840 total time=  16.7s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=214;, score=-1145.940 total time=   3.9s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=220;, score=-1083.598 total time=   3.7s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=220;, score=-1091.075 total time=   4.4s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=286;, score=-1090.563 total time=   4.7s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=299;, score=-1078.831 total time=   4.5s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=201;, score=-1110.418 total time=   3.8s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=263;, score=-1538.693 total time=   3.3s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=263;, score=-1585.885 total time=   2.8s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=221;, score=-582.815 total time=  13.7s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=248;, score=-593.559 total time=  10.2s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=241;, score=-1118.460 total time=   3.3s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=241;, score=-1065.076 total time=   3.8s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=246;, score=-1085.291 total time=   3.5s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=246;, score=-1076.555 total time=   3.4s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=263;, score=-1615.859 total time=   2.6s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=250;, score=-573.502 total time=  16.1s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=238;, score=-1104.386 total time=   3.4s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=238;, score=-1063.422 total time=   3.4s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=259;, score=-1561.164 total time=   2.5s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=208;, score=-1569.919 total time=   2.0s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=208;, score=-1591.853 total time=   2.2s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=283;, score=-1567.527 total time=   3.2s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=243;, score=-1080.529 total time=   4.2s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=243;, score=-1064.914 total time=   3.4s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=234;, score=-588.905 total time=   9.5s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1610.539 total time=   2.0s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=253;, score=-1668.652 total time=   2.5s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=253;, score=-1630.314 total time=   2.5s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=292;, score=-1672.091 total time=   2.8s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=243;, score=-1097.675 total time=   3.5s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=299;, score=-1686.481 total time=   2.9s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=271;, score=-1602.432 total time=   2.7s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=271;, score=-1616.457 total time=   2.8s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=261;, score=-1662.963 total time=   3.3s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=281;, score=-593.023 total time=  13.1s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=288;, score=-1134.969 total time=   4.2s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=288;, score=-1052.742 total time=   4.8s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=214;, score=-574.428 total time=  17.5s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=270;, score=-589.093 total time=  20.6s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=207;, score=-605.845 total time=   9.4s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=207;, score=-593.698 total time=   7.9s

[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=214;, score=-1070.471 total time=   3.8s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=214;, score=-1086.158 total time=   3.5s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=220;, score=-1079.276 total time=   4.5s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=286;, score=-1083.508 total time=   4.7s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=299;, score=-1138.753 total time=   4.5s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=201;, score=-1090.723 total time=   3.6s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=201;, score=-1077.313 total time=   3.4s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=263;, score=-1614.375 total time=   2.9s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=221;, score=-570.900 total time=  13.6s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=248;, score=-602.686 total time=  10.2s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=248;, score=-566.704 total time=  10.4s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=246;, score=-1097.675 total time=   3.5s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=263;, score=-1567.959 total time=   2.6s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=250;, score=-591.053 total time=  16.0s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=238;, score=-1085.703 total time=   3.4s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=238;, score=-1094.621 total time=   3.3s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=259;, score=-1685.443 total time=   2.5s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=259;, score=-1601.740 total time=   2.6s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=208;, score=-1687.370 total time=   2.1s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=283;, score=-1674.104 total time=   3.1s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=283;, score=-1596.110 total time=   3.4s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=243;, score=-1084.093 total time=   3.6s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=234;, score=-594.083 total time=   9.5s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1664.072 total time=   1.9s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=203;, score=-1575.917 total time=   2.0s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=253;, score=-1581.226 total time=   2.6s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=292;, score=-1587.481 total time=   2.8s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=292;, score=-1622.613 total time=   2.8s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=243;, score=-1095.127 total time=   3.4s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=299;, score=-1654.892 total time=   2.9s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=271;, score=-1716.132 total time=   2.7s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=261;, score=-1566.959 total time=   3.1s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=261;, score=-1670.005 total time=   3.0s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=281;, score=-592.035 total time=  13.1s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=288;, score=-1069.532 total time=   4.1s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=214;, score=-602.046 total time=  17.8s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=214;, score=-555.276 total time=  13.6s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=270;, score=-590.709 total time=  20.2s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=207;, score=-591.868 total time=   7.6s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=214;, score=-1096.408 total time=   3.9s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=220;, score=-1089.666 total time=   3.7s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=286;, score=-1127.625 total time=   6.1s
[CV 1/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=299;, score=-1099.887 total time=   4.5s
[CV 5/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=299;, score=-1076.118 total time=   4.6s
[CV 4/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=201;, score=-1100.242 total time=   3.9s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=263;, score=-1646.935 total time=   2.9s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=221;, score=-588.248 total time=  13.7s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=248;, score=-603.515 total time=  10.4s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=248;, score=-589.772 total time=  10.5s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=246;, score=-1128.314 total time=   3.4s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=263;, score=-1536.725 total time=   2.6s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=263;, score=-1597.921 total time=   2.5s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=250;, score=-585.609 total time=  16.3s
[CV 3/5] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=238;, score=-1090.491 total time=   3.4s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=259;, score=-1567.565 total time=   2.6s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=259;, score=-1619.623 total time=   2.5s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=208;, score=-1748.144 total time=   2.0s
[CV 5/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=208;, score=-1639.128 total time=   2.2s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=3, n_estimators=283;, score=-1600.439 total time=   3.1s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=243;, score=-1156.390 total time=   3.9s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=234;, score=-604.799 total time=   9.7s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=4, n_estimators=234;, score=-569.267 total time=   9.4s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=292;, score=-1721.200 total time=   2.9s
[CV 2/5] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=243;, score=-1140.880 total time=   3.3s
[CV 1/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=299;, score=-1618.039 total time=   2.9s
[CV 4/5] END max_depth=3, max_features=sqrt, min_samples_leaf=2, min_samples_split=3, n_estimators=299;, score=-1646.172 total time=   3.0s
[CV 3/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=4, n_estimators=271;, score=-1563.110 total time=   2.8s
[CV 2/5] END max_depth=3, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=261;, score=-1645.437 total time=   3.2s
[CV 1/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=281;, score=-605.543 total time=  13.3s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=281;, score=-565.261 total time=  15.9s
[CV 4/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=214;, score=-586.644 total time=  14.4s
[CV 3/5] END max_depth=None, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=270;, score=-574.496 total time=  20.1s
[CV 2/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=207;, score=-601.781 total time=   8.8s
[CV 5/5] END max_depth=None, max_features=sqrt, min_samples_leaf=2, min_samples_split=2, n_estimators=207;, score=-562.693 total time=   7.1s